@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700&display=swap&subset=latin-ext');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    color: var(--color-secondary-light-2);

    @media only screen and (max-width:$bp-medium) {
        font-size: 50%;
    }
}