.employees {
    grid-column: center-start / center-end;
    text-align: center;
}

.employee-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-auto-rows: 40rem;
    justify-items: center;
    grid-gap: var(--grid-gap-medium);
}

.employee-card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-1);
    overflow: hidden;

    &__name {
        margin: 1rem 0;
        font-size: 2rem;
    }

    &__text {
        margin-bottom: .4rem;
        font-size: 1.3rem;
    }
}

.employee-card-photo-box {
    @include overlay;

    flex-basis: 80%;

    &__photo {
        @include object-fit-img;
    }
}